{namespace nn=NN\NnAddress\ViewHelpers}
<f:layout name="List"/>
<f:section name="main">
    <f:if condition="{settings.enableSearch}">
        <f:if condition="{settings.groupSearchTypeAnd}">
            <f:then>
                <f:render partial="Search/FormAnd" arguments="{sword:sword,groups:groups,selectedGroups:selectedGroups}"/>
            </f:then>
            <f:else>
                <f:render partial="Search/Form" arguments="{sword:sword,groups:groups,selectedGroup:selectedGroup,groupHierachy:groupHierachy}"/>
            </f:else>
        </f:if>
    </f:if>
    <f:if condition="{persons -> f:count()} > {settings.itemsPerPage}">
        <f:then>
            <nn:widget.paginate objects="{persons}" as="paginatedPersons" configuration="{itemsPerPage:settings.itemsPerPage}">
                <f:switch expression="{settings.template}">
                    <f:case value="1">
                        <f:render partial="Person/Teaser" arguments="{_all}"/>
                    </f:case>
                    <f:case value="2">
                        <f:render partial="Person/TeaserModal" arguments="{_all}"/>
                    </f:case>
                    <f:case default="TRUE">
                        <f:render partial="Person/Table" arguments="{_all}"/>
                    </f:case>
                </f:switch>
            </nn:widget.paginate>
        </f:then>
        <f:else>
            <f:switch expression="{settings.template}">
                <f:case value="1">
                    <f:render partial="Person/Teaser" arguments="{_all}"/>
                </f:case>
                <f:case value="2">
                    <f:render partial="Person/TeaserModal" arguments="{_all}"/>
                </f:case>
                <f:case default="TRUE">
                    <f:render partial="Person/Table" arguments="{_all}"/>
                </f:case>
            </f:switch>
        </f:else>
    </f:if>
</f:section>