<f:layout name="Default"/>
<f:section name="main">
    <f:if condition="{person}">
        <f:then>
            <f:render partial="Person/Properties" arguments="{person:person}"/>
        </f:then>
        <f:else>
            <div class="alert alert-warning" role="alert">Kein Datensatz vorhanden!</div>
        </f:else>
    </f:if>

    <a href="#" onclick="history.back(); return false;" class="button">
        <f:translate key="LLL:EXT:nn_address/Resources/Private/Language/locallang.xlf:back"/>
    </a><br/>
</f:section>