{namespace nn=NN\NnAddress\ViewHelpers}
<f:layout name="Default"/>
<f:section name="main">

    <f:switch expression="{settings.template}">
        <f:case value="1">
            <f:render partial="Person/Teaser" arguments="{_all}"/>
        </f:case>
        <f:case value="2">
            <f:render partial="Person/TeaserModal" arguments="{_all}"/>
        </f:case>
        <f:case default="TRUE">
            <f:render partial="Person/Single" arguments="{_all}"/>
        </f:case>
    </f:switch>
</f:section>